body {
    margin:0;
    background-color: #1c1b1a;
    color: #fff;
    font-family: Pretendard;
}
.main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1440px;
    gap: 120px;
    padding-top: 80px;
}

.content {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 20px 120px 20px;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 156px;
}

.header {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding: 0 160px;
    align-self: stretch;
    background-color: #1c1b1a;
    position: fixed;
    top: 0; /* 위에서 얼마나 떨어져 있는ㄴ지 */
    left: 0; /* 왼쪽에서 얼마나 떨어져 있는지 */
    box-sizing: border-box;
    z-index: 100; /* for 무조선 다른 요소보다 위에 있게 */
}

.logo{
    width:147px;
    height: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

ul {
    list-style: none;
}
.banner-list {
    display: flex;
    height: 80px;
    align-items: center;
    gap: 24px;
}

.banner-option {
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.6px;
    padding: 12px 0;
}




.mobile-banner {
    display: none;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 0 20px;
}

.mobile-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.6px;
    color: #fff;
}

.mobile-menu, .mobile-back {
    width: 32px;
    height: 32px;
}

.mobile-step {
    display: none;
    width: 100%;
    padding: 24px 0;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.mobile-stepbar {
    width: 100%;
}

.mobile-button {
    display: none;
    justify-content: center;
    align-items: center;
}

.mobile-next {
    width: 100%;
    height: 56px;
    padding: 0 99px;
    border-radius: 88px;
    background-color: #ff7710;
    color: #fff;;
}

.form {
    width: 704px;
}
.step {
    align-self: stretch;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.6px;
}

.put-info {
    font-size: 52px;
    font-weight: 600;
    line-height: 78px;
    letter-spacing: -1.56px;
    align-self: stretch;
    margin: 0 0 52px 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    align-self: stretch;
}

.each-form {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.labels {
    display: flex;
    width: 208px;
    height: 59px;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.6px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
}

/* 추가: 실제 입력창인 input 태그 자체를 꾸며주는 코드! (가져온 수치 그대로 사용함) */
.inputs input {
    align-self: stretch; 
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 9999px;
    background: #fff;
    border: none;
    outline: none; /*입력 폼, 버튼 등이 포커스될 때 테두리 없애줌*/
}

.cf-group {
    margin: 0;
}
.cf-group2 {
    margin-top: 12px;
}
.cf {
    flex: 1 0 0; /* 자식은 부모의 남은 공간을 비율(1)에 따라 가득 채우고, 크기 줄어들지 x(0), 기본 크기 0 */
    color: #8C827D;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px; /* 한 줄 높이 = 21px */
    letter-spacing: -0.42px; /*자간 = 글자와 글자 사이 간격*/
    margin: 0;
}

.emphasize {
    color: #FF7710;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: -0.42px;
}


.part-buttons {
    flex: 1 0 0;
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.part-btn {
    display: flex;
    height: 56px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    border-radius: 9999px;
    background: #ff7710;
}





.sidebar {
    display: flex;
    width: 290px;
    padding: 40px 0 40px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 56px;
}

.sidebar-step {
    display: flex;
    padding: 0 24px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}


.step-text-wrap {
    flex-direction: column;

}

.step-text {
    width: 135px;
    align-items: flex-start;
    margin: 40px 0;
}

.prev-next-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}
.prev-btn, .next-btn {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.6px;
    height: 56px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 9999px;
}
.prev-btn {
    background: #fff;
}

.next-btn {
    background: #ff7710
}




.footer {
    display: flex;
    padding: 52px 160px;
    align-items: flex-start;
    gap: 86px;
    align-self: stretch;
    background-color: #292625;
    width: 100%;
}

.footer-text {
    display: flex;
    width: 206px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    color: #d1cfcd
}

.footer-text1 {
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.36px;
    margin: 0;
}

.footer-text2 {
    font-size: 14px;
    font-weight: 300;
    line-height: 104%;
    letter-spacing: -0.7px;
}

.sns-icon {
    display: flex;
    align-items: center;
    gap: 12px;
}

.instagram-icon, .kakaotalk-icon {
    width: 18px;
    height: 18px;
}






@media (max-width: 990px) {
    
    .banner, .logo, .sidebar, .form-title {
        display: none;
    }
    
    .mobile-banner, .mobile-button {
        display: flex;
    }

    .header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 0 20px;
    }
    

    .mobile-step {
        display: block;
    }
    
    .mobile-button {
        width: 100%
    }

    .content {
        width: 100%;
        gap: 0;
    }
    .form {
        width: 100%; 
    }

    .inputs {
        width: 100%;
    }
    .each-form {
        flex-direction: column; 
        gap: 12px;
    }
    .labels {
        width: 100%;
        height: auto; 
    }
    
    .part-buttons {
        width: 100%; 
    }
    .part-btn {
        width: 100%;
    }

}